body {
  margin: 0;
  padding: 0;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton-small {
  font-family: "Anton", sans-serif;
  font-weight: 50;
  font-style: normal;
}

.anton-big {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;
}


.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.caveat-regular {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}

.fade-inn {
  animation: fade-in 1s ease-in-out forwards;
}
html, body {
  overflow-x: hidden !important;
}

